*{margin: 0;padding: 0;}
ul{list-style: none;}
.register{box-shadow: 2px 2px 4px #ccc; margin-bottom: 60px;}
.register ul{width: 1200px; margin: auto;display: flex;justify-content: space-between; padding: 20px;}
.register ul li:nth-child(1){font-size: 20px;font-weight:bold;}
.register ul li:nth-child(2){padding-top:20px;}
a{text-decoration: none;color:red;}
dl{width: 1200px;margin: auto; text-align: center;}
dl dt{ margin-top: 20px;}
input{width: 300px; height: 40px;}
dl dt div{background-color: red; color:#fff; width: 300px; padding: 20px 0;margin: auto;}
p{font-size: 14px; color:#999; text-align: center; padding-top: 30px;}